<table table-sm>
    <thead>
        <tr>
            <th></th>
            <th></th>
            {% for ab in s3 %}
                <th>ab</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            <th></th>
            {% for ab in range1 %}
                 <th>ab</th>
            {% endfor %}
        </tr>
        <tbody>
            {% for ab in range2) %}
                <th>{{s4[ab]}}</th>
                <th>ab</th>
                <tr>
                   {% for ab in range1 %}
                       <td>{{matrix[ab][0]}}</td>
                   {% endfor %} 
                </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>